<header>Reviews for <%= link_to(@wine.title, @wine) %></header>
<ol id="log_entries">
  <% @log_entries.each do |log_entry| %>
    <li>
      <span class="log_entry"><%= pluralize(log_entry.rating, 'rating') %></span>
      <span class="user">by <%= log_entry.name %> </span>
      <span class="date">
        <%= time_ago_in_words(log_entry.tasted_on) %> ago
      </span>
      <p>
        &quot;<%= log_entry.comments %>&quot;
      </p>
    </li>
  <% end %>
</ol>
